@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

header {
  width: 100%;
  height: 157px;
}

body {
  background-image: url(https://guikao.files.wordpress.com/2012/01/pokemon_wallpaper01_1680.jpg);
}


.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.background {
  top: 180px;
  position: fixed;
  background-image: url('img/pokedex2.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  border-radius: 13px;
  border: 2px solid white;
  margin-left: 20px;
  width: 3%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 280px;
}

.buttons {
  display: flex;
  width: 300px;
  height: 270px;
  margin-left: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.constainer-btn-next {
  display: flex;
  align-items: center;
  width: 150px;
  margin-top: 70px;
  margin-right: 70px;
}


.btn-type {
  background: none;
  border-radius: 100%;
  border: none;
}

.img-type {
  box-shadow: 0px 3px 1px  black;
  width: 40px;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 3px;
  cursor: pointer;
}

.img-type:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}

.pokemon {
  border-radius: 5px;
  width: 210px;
  height: 211px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-top: 61px;
  margin-left: 50px;
  margin-bottom: 30px;
  padding: 30px 20px 20px 20px;
}
.img {
  width: 90px;
  margin-top: 80px;
  margin-bottom: 90px;
  margin-left: 90px;
  position: fixed;
}
 h1 {
  color: white;
  text-align: center;
  font-size: 70px;
 }

 h2, h3::first-letter {
  text-transform: uppercase;
  margin: 0;
  font-family: 'VT323', monospace;
  font-size: 30px;
}

h3 {
   font-family: 'VT323', monospace;
    font-size: 20px;
    margin: 0;
 }

 .container-type {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 200px;
  margin-left: 80px;
  width: 130px;
 }

 .container-name {
  position: fixed;
  text-align: right;
  width: 220px;
  margin-right: 30px;
  margin-top: -280px;
  border-bottom: 3px solid black;
  padding: 40px 10px 10px 0;
 }

 .container-bottom {
  border-top: 3px solid;
  padding-top: 5px;
  text-align: center;
  position: fixed;
  margin-top: 290px;
  margin-left: 65px;
  width: 133px;
 }

 .container-status {
  font-family: 'VT323', monospace;
  font-weight: 600;
  font-size: 21px;
  line-height: 0.9;
  width: 105px;
  position: fixed;
  margin-top: 27px;
  margin-right: 150px;
  padding-right: 2px;
  border-right: 3px solid;
  height: 226px;
 }

 .status::first-letter {
  text-transform: uppercase;
}

.status {
   margin: 10px 0;
 }

 .btn-git {
  background-color: white;
 }

.container-my-btn {
  margin-left: 150px;
  margin-top: -50px;
}

.container-loading {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(243, 243, 243);
  /* background-color: rgb(236, 29, 35); */
  top: 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.img-poke {
  width: 100%;
}

.title-loading { 
color: black;
}
